@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navigation-body {
    height: 100%;
    width: 100%;
    margin-bottom: 0rem;    
    padding-bottom: 5rem;
}

.navigation-navbar{
    position: absolute;
    z-index: 10;
    width:100%;
    background-color:rgba(133, 132, 132, 0.5);
    height: 80px;
}
.navigation-logo-image{
    margin-left: 100px;
    margin-right: 200px;


    float: left;
	color:white;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
    font-family: 'poppins', sans-serif;
    z-index: 10;
    padding: 15px;
}

.navigation-navbar-right-menu{

    padding: 20px;
    
  
  
}
.navigation-navbar-right-menu a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 20px;
	padding-inline-end: 5%;
    z-index: 10;
    font-family: 'poppins';

    
}
    
 

  
    
   
    .navigation-navbar-right-menu a:hover {
        text-decoration: underline;
        color: green;
    
    
    }
    
 
    
    .navigation-navbar-right-menu a {
        transition: color 0.5s ease;
    }
    
   
    
   
    




.navigation-header .navigation-bottom-nav-items a
{
	float: center;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 5px;
	padding-right: 120px;
    margin-right: 1.4cm; 
}
.navigation-container{
    position: absolute;
    width: 100%;   
    
}
.navigation-img-responsive
{
    height: 3rem;
    margin-left: 2rem;
}
.navigation-bar-button{
    float: right;
    margin-right: 100px;
}
