.right-menu{
    margin-top: 50px;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(83, 81, 81, 0.527);
    padding-top: 20px;
    

}



.bar-item{
   
    cursor: pointer;
    padding: 8px 10px 10px 80px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins';
    
    color: #f7f7f7;
    display: block;
}
.bar-item a:hover{
    cursor: pointer;
}


.right-menu a:hover {
    color: #f1f1f1;
    background-color: grey;
  }
  


 .container3{
     margin-left: 300px;
 }

 .top-menu{
    margin-left: 292px;
   
     margin-top: 50px;
     background-color: rgb(69, 67, 71);
     display: flex;
 }
 .top-menu a:hover {
    color: #59338b;
    background-color: grey;
 }

 .images
 {
     margin-left: auto;

 }  
