@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');


@import url('https://fonts.googleapis.com/css?family=Akronim');
.section2{
    background-color: rgba(128, 128, 128, 0.315);
}
.slogan{
    background-color: rgba(154, 158, 219, 0.589);
    font-size: 35px;
    color: rgb(3, 42, 78);
    text-align: center;
    font-family:sans-serif;
    font-weight: 700;
    
}
  

.row{ 
    padding-top: 0px;
    margin: 0px;
    align-items: center ;
    position: relative;
    display: flex;
}


.box1{
    flex-basis:24% ; 
    padding:3px ;  
    transition : transform 0.5s; 
    margin-right: 15px;
}
.box1 img{
    width: 700px ; 
    height: 1100px ; 
    border-radius: 16px;
}

.box2{
    
    

    position:absolute;
    
    background-color: rgba(189, 197, 204, 0.351);

top: 20%;
left: 3%;
right: 5%;

height: 800px;
width: 600px;

border-radius: 16px;
    
}

 .box2 p {
     opacity: 100%;
     z-index: 0;
    color: rgb(0, 0, 0);
    font-family: "Dancing Script"; font-size: 80px;
    font-weight: bold;
    position: relative;
    top: 20%;
    left: 15%;
    right: 15%;
    line-height: 130px;

    letter-spacing: 1px;

    
}
.box3{
  
    width: 806px;
    height: 1150px;    
}
.box3 img {
    object-fit: cover;
    display: flex;
    width: 800px;
    height: 300px;
    margin-top: 10px;
    padding: 50px;
    padding-block-start: 2%;
    
    margin-bottom: 30px;
    border-radius: 30px;
    
}

.desc p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 45px;
    position: absolute;
    position: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
background-color: rgb(133, 133, 172,0.3);
margin: 70px;



}
.desc{
    top: 0%;
}

.box4 p{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    padding : 30px;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 30px;
    width: 200px;
    border-radius: 20px;
    position: left;
}

.box5 p{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    padding : 30px;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    right: 18px;
    margin-right: 70px;

    

}

.box6{
    display: flex;
    
}


.all{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}


.tips0{
    position: absolute;
    top: 4%;
    right: 60%;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: rgb(185, 162, 29);
    letter-spacing: 2px;
    

}